.App{
  text-align: center;
  font-family: sans-serif;
}

.containerFAQ{
  width: 100%;
  margin:  40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.accordion{
  width: 60%;
  border: 2px solid black;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.question{
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  position: relative;
}

span{
position: absolute;
right: 2rem;
}

.answer{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 30px;
}