.App{
  text-align: center;
  width: 500px;
  margin: 20px auto;
}

.searchContainer input{
  padding: 10px;
  font-size: 20px;
}

.autocomplete{
  width: 100%;
  margin-top: 10px;
  text-align: left;
  border-radius: 4px;
  
  background-color:#fff;
  overflow-y: auto;
}

.autocomplete span{
  width: 100%;
  display: block;
  padding: 8px 12px;
  cursor: pointer;
  background-color: transparent;

}