.App{
  font-family: sans-serif;
  text-align: center;
}

.container{
  width: 80%;
  height: 30px;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.progressContainer{
  height: 100%;
  background-color: green;
  transition: width 0.3s ease;
}

span{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}