.App{
  text-align: center;
  font-family: sans-serif;
}

.container{
  border: 2px solid black;
  border-radius: 20px;
  height: 30px;
  width: 80%;
  overflow: hidden;
  margin:  0 auto;
  position: relative;
  
}

.progressContainer{

  background-color: green;
  height: 100%;
 
}

span{
  font-weight: bold;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
 display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}