.container{
    background-color: bisque;
    padding: 4px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.answer{
    display: none;
}

.container.active .answer{
    display: block;     
}