.App {
  text-align: center;
}
.contianer{
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

.inputContainer{
  width: 70%;
padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.comment {
  display: inline-block;
  background-color: #2d8cff;
  color: white;
  padding: 8px 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

/* Individual comment box */
.commentBox {
  background-color: #e0e0e0;
  padding: 10px 15px;
  border-radius: 8px;
  margin-top: 10px;
  position: relative;
  max-width: 500px;
}

/* Comment actions */
.commentActions {
  display: flex;
  gap: 15px;
  margin-top: 5px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

/* Nested comments */
.nested {
  margin-left: 30px;
}