.App{
  text-align: center;
}

.otpInput{
  height: 40px;
  width: 40px;
  font-size: 40px;
  margin: 5px;
  text-align: center;
  padding: 5px;
  border: 2px solid black;
}

.otpInput:focus {
  outline: none;
  border: 2px solid blue;
  box-shadow: 0 0 4px rgba(0, 0, 255, 0.5); /* optional glow */
}